@import "../vars.scss";

.section{
    padding:3rem 6rem;
    width:100vw;
    min-height: 85vh;
    box-sizing: border-box;
    position:relative;
}

.buttonsTop{
    margin-top:8rem;
    display:flex;
    width:50%;
    height: 50px;
    position:absolute;
    bottom:10vh;
    z-index: 10;
}

.buttonAllWorks{
    margin-top:3rem;
    // padding-bottom: 8rem;
    display:flex;
    width:95%;
    // height: 50px;
    position:relative;
    z-index: 10;
    justify-content: flex-end;
}

@media screen and (max-width:$max-mobile){
    .section{
        padding: 2rem 2rem;
        width:100vw;
        h2{
            text-align: center;
            font-size: 5rem;
        }
    }
    .buttonsTop{
        width:calc(100vw - 4rem);
        justify-content: space-around;
        bottom:5vh;
        font-size:2rem;

    }
    

    
}