.a{
    text-decoration: none;
    // width:8rem;  
    color: black;
    padding:30px;
    // margin:30px;
    font-size:1.2rem;
    display: inline-block;
    text-align: right;
    font-weight: 800;

    &:hover{
        color:var(--first-color);
        transition: 0.5s color;
    }
}
.active{
    color:black !important;
    transition: 0.5s color;
    text-decoration: solid 2px black;
}

.nav{
    margin:15px;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    .logo{
        width:3rem;
        // justify-self: flex-end;
        align-self: center;
        margin-left:3.5rem;
        
    }
}