@import "../../vars.scss";

.a{
    text-decoration: none;
    // width:8rem;  
    color: $text-color;
    padding:30px;
    // margin:30px;
    font-size:1.2rem;
    display: inline-block;
    text-align: right;
    font-weight: 800;

    &:hover{
        color:$first-color;
        transition: 0.5s color;
    }
}
.active{
    color:black !important;
    transition: 0.5s color;
    text-decoration: solid 2px black;
}

.nav{
    margin:1.3rem;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    .logo{
        width:3rem;
        // justify-self: flex-end;
        align-self: center;
        margin-left:3.5rem;
        
    }
}

@media screen and (max-width:$max-mobile) {
    .a{
        font-size: 2rem;
        padding:2rem;
    }
    .nav{
        margin: 1rem;
        margin-top: 2vh;
        .logo{
            width:5rem;
            margin-left: 1rem;
        }
    }
}