@import "../vars.scss";

.badge{
    margin-right:2rem;
    padding:0.6rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    width: fit-content;
    font-weight: 700;
    align-items: center;
    display: flex;

}

.orangeOutline{
    composes:badge;
    border: solid $first-color 1px;

}
.greenSolid{
    composes:badge;
    background-color: $second-color;
    color: white;

}


@media screen and(max-width:$max-mobile) {
    .badge{
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        border-radius: 0.3rem;
        padding: 1rem;
    }

}