@import "../vars.scss";


.grid{
    // background-color: aquamarine;
    display:grid;
    padding: 2rem;
    grid-template-columns: 10rem;
    grid-template-rows: 10rem;
    grid-auto-flow: column;
    grid-gap: 3rem 3rem;
    margin: auto;
    justify-content:center;
    align-items: center;


    div{
        width:10rem;
        height:10rem;
        padding: 1rem;
        box-sizing: border-box;
        background-color:$bg-color;
        display: block;
        position: relative;
        box-shadow: 3px 3px 8px rgba(0,0,0,0.07);
        transition: 0.2s;
        overflow: hidden;
        border-radius: 0.2rem;
        &:last-child{
            grid-row: 1 / span 2;
        }
        &:first-child{
            grid-row: 1 / span 2;
        }
        &:hover{
            transform: scale(1.1);     
            transition: 0.5s;       
            
        }
        img{
            opacity: 0.5;
            background-color:$bg-color;
            transition: 0.3s;
            &:hover{
                opacity: 1;
                transition: 0.3s;
            }
        }   
    }  
}
.header{
    margin-top: 10rem;
    text-align: center;
    width:100%;
    // color:red;
}
.clientName{
    text-align: center;
    transform: translate(0,150%);
    opacity: 0;
}

@media screen and (max-width:$max-mobile) {
    .grid{
        // grid-auto-flow: column;
        grid-template-columns: 15rem;
        grid-template-rows: 15rem 15rem;
        grid-gap: 5rem 5rem;
        
        left:0;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 40rem;
        justify-content: flex-start;


        div{
            width:15rem;
            height:15rem;
            border-radius: 0.3rem;
            grid:unset;
            &:last-child{
                // grid-column: span 2 / 1;
                grid-row:unset;
            }
            &:first-child{
                grid-row: unset ;
                // grid-column: span 2 / 1;
            }
            &:hover{
                transform: scale(1.1);     
                transition: 0.5s;       
                
            }
        }
       
    }
    .clientName{
        font-size: 2rem;
    }
    
}