
.grid{
    // background-color: aquamarine;
    display:grid;
    padding: 2rem;
    grid-template-columns: 100px;
    grid-template-rows: 100px;
    grid-auto-flow: column;
    grid-gap: 3rem 3rem;
    margin: auto;
    justify-content:center;
    align-items: center;


    div{
        width:100px;
        height:100px;
        padding: 1rem;
        background-color: #FFF;
        display: block;
        position: relative;
        box-shadow: 3px 3px 8px rgba(0,0,0,0.07);
        transition: 0.2s;
        overflow: hidden;
        border-radius: 0.2rem;
        &:last-child{
            grid-row: 1 / span 2;
        }
        &:first-child{
            grid-row: 1 / span 2;
        }
        &:hover{
            transform: scale(1.1);     
            transition: 0.5s;       
            
        }
        img{
            opacity: 0.5;
            background-color: #FFF;
            transition: 0.3s;
            &:hover{
                opacity: 1;
                transition: 0.3s;
            }
        }   
    }  
}
.header{
    margin-top: 10rem;
    text-align: center;
    width:100%;
    // color:red;
}
.clientName{
    text-align: center;
    transform: translate(0,150%);
    opacity: 0;
}