.buttons{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content:start;
    flex:1;
    
}
.button{
    background-color: transparent;
    border:none;
    padding:0;
    font-size: 2rem;
    font-weight: 700;
    margin:1rem 0;
    width: fit-content;
    padding-bottom: 0.7rem;
    color: black;
    text-decoration: none;
    display: block;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
    &:focus{
        transform: scale(1.1);
        transition: 0.2s;
        outline: none;
    }
}
.buttonActive{
    composes:button;
    color:var(--second-color);
    margin-left: 1rem;
    transition: all 0.2s ease-in-out;
    // text-decoration: underline;
    border-bottom: 2px solid var(--second-color);
}
.wrapper{
    display: flex;
    justify-content: space-between;

}

.cardContainer{
    display: flex;
    flex: 4;
    justify-content: end;
    .serviceCard{
        // background-color: bisque;
        display: flex;
        width: 100%;
        margin-left: 10rem;
        height: 400px;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        
        .serviceInfo{
            flex: 1;
            padding: 2rem ;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .badges{
                display: flex;
            }
            h3{
                font-size: 3rem;
                margin-top: 2rem;
            }
            .content{
                font-family:"Montserrat";
                font-weight: 400;
                font-size: 1.2rem;
            }
        }
        img{
            flex: 1;
            width: 50%;
            object-fit: cover;
        }
    }
}
