.container{
    width:100vw;
    height:600vh;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
.lines{
    position: absolute;
    top: -145px;
    left:-12%;
    width:150%;
    height: auto;
    z-index: -3;
}
.overlay{
    position: fixed;
    background-image: linear-gradient(to top, #FFF,80%, rgba(255,255,255,0));
    bottom:0;
    z-index: -1;
    width:100vw;
    height:60vh;
}