@import "../../vars.scss";

.svg{
    width:70vw;
    height:80vh;
    position: absolute;
    bottom:5vh;
    right:0;
    z-index: 3;
    g{
        width: 70vw;
        left: 30vw;
    }
}

@media screen and (max-width:$max-mobile){
    .svg{
        width:120vw;
        height: 50vh;
        bottom:12vh;
        right:0;
        g{
            image:first-of-type{
                visibility: hidden;
            }
            image:last-of-type{
                mask:none;
            }
        }
    }
}