.svg{
    width:70vw;
    margin-left:auto;
    height:80vh;
    display: block;
    position: absolute;
    bottom:5vh;
    right:0;
    z-index: 3;
    defs{
        // position: absolute;
        // z-index: 999;

    }
    g{
        width: 100vw;
    }
}